In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv(r"C:\Users\HP\Desktop\seattel-weather.csv")
df.head(5)

         date  precipitation  temp_max  temp_min  wind  weather
0  01-01-2012            0.0      12.8       5.0   4.7  drizzle
1  02-01-2012           10.9      10.6       2.8   4.5     rain
2  03-01-2012            0.8      11.7       7.2   2.3     rain
3  04-01-2012           20.3      12.2       5.6   4.7     rain
4  05-01-2012            1.3       8.9       2.8   6.1     rain

In [ ]:
df.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [ ]:
df.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [ ]:
print("no of rows :",df.shape[0])
print("no of cols :",df.shape[1])

no of rows : 1461
no of cols : 6

In [ ]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [ ]:
# Define the features and target variable
features = ['precipitation', 'temp_max', 'temp_min', 'wind']
target = 'weather'

# Create feature matrix (X) and target vector (y)
X = df[features]
y = df[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
classifiers = {
    'Random Forest': RandomForestClassifier(random_state=42),
    'SVM': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB()
}

# Evaluate and compare the performance of each classifier
best_accuracy = 0
best_classifier = None

for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    print(f'{name} Accuracy: {accuracy:.2f}')

    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_classifier = name

print(f'\nBest Classifier: {best_classifier} with Accuracy: {best_accuracy:.2f}')

Random Forest Accuracy: 0.82
SVM Accuracy: 0.76
K-Nearest Neighbors Accuracy: 0.78
Naive Bayes Accuracy: 0.83

Best Classifier: Naive Bayes with Accuracy: 0.83

In [ ]:
# Initializing the Gaussian Naive Bayes classifier
clf = GaussianNB()

# Fit the model to the training data
clf.fit(X_train, y_train)

GaussianNB()

In [ ]:
# Assuming clf is already initialized and fitted to the training data
# Make predictions on the test set
y_pred = clf.predict(X_test)

In [ ]:
# Calculate accuracy and generate a classification report
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [ ]:
# Print accuracy
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.83

In [ ]:
print(report)

              precision    recall  f1-score   support

     drizzle       0.00      0.00      0.00         9
         fog       0.00      0.00      0.00        25
        rain       0.96      0.91      0.94       120
        snow       0.57      0.50      0.53         8
         sun       0.76      0.99      0.86       131

    accuracy                           0.83       293
   macro avg       0.46      0.48      0.47       293
weighted avg       0.75      0.83      0.78       293

# prediction -1

In [ ]:
# Taking new data for prediction purpose
new_data1 = pd.DataFrame({
    'precipitation': [0.0],
    'temp_max': [27.8],
    'temp_min': [13.3],
    'wind': [2.9]
})

# Making predictions for the new data
new_predictions = clf.predict(new_data1)

# Print the predicted weather type for the new data
print(f'Predicted Weather: {new_predictions[0]}')

Predicted Weather: sun

# Prediction -2

In [ ]:
# Taking new data for prediction purpose
new_data2 = pd.DataFrame({
    'precipitation': [5.2],
    'temp_max': [32.0],
    'temp_min': [20.0],
    'wind': [15.0]
})

# Making predictions for the new data
new_predictions = clf.predict(new_data2)

# Print the predicted weather type for the new data
print(f'Predicted Weather: {new_predictions[0]}')

Predicted Weather: rain

# prediction - 3

In [ ]:
# Taking new data for prediction purpose
new_data3 = pd.DataFrame({
    'precipitation': [2.0],
    'temp_max': [-2],
    'temp_min': [0],
    'wind': [1]
})

# Making predictions for the new data
new_predictions = clf.predict(new_data3)

# Print the predicted weather type for the new data
print(f'Predicted Weather: {new_predictions[0]}')

Predicted Weather: snow